.forminput {
	display: flex;
	flex-direction: column;
}

.forminput input {
	padding: 0.5rem 0.3rem;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.forminput input:focus {
	border: 2px solid #dba595;
	outline: none !important;
}

.signInContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.signInItems {
	position: relative;
	top: 5rem;
	width: 25rem;
	border: 4px solid #8f6c61;
	padding: 2rem 2.5rem;
}

.formButton {
	display: flex;
	justify-content: flex-end;
	margin-top: 0.8rem;
}

.formButton button {
	border-style: none;
	padding: 0.5rem 0.8rem;
	background-color: #8f6c61;
	color: white;
	transition: ease-in-out 0.2s;
}

.formButton button:hover {
	cursor: pointer;
	box-shadow: 1px 2px 5px 0.1px rgba(0, 0, 0, 0.4);
}

.phoneInput span {
	font-weight: bolder;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6rem;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}

.phoneInputfocus span {
	font-weight: bolder;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6rem;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}

.phoneInput input {
	border-style: none;
	width: 100%;
}

.phoneInput input:focus {
	border-style: none;
	outline: none !important;
}

.phoneInput {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.phoneInputfocus {
	display: flex;
	width: 100%;
	border: 2px solid #dba595;
	outline: none !important;
}

.phoneInputfocus input {
	border-style: none;
	outline: none !important;
	width: 100%;
}

.phoneInputfocus input:focus {
	border-style: none;
	outline: none !important;
}

.errMessage {
	color: red;
	opacity: 70%;
	font-style: italic;
	font-size: 12px;
	margin-top: 0.4rem;
	margin-left: 0.4rem;
}

.noAccount a {
	color: #dba595;
	font-style: italic;
}

.forminput input::-webkit-outer-spin-button,
.forminput input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.forminput input[type='number'] {
	-moz-appearance: textfield;
}

.errMsg {
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4.5rem;
	position: absolute;
}
