.btnContainer {
	display: flex;
	border-radius: 4px;
	height: 2.5rem;
	margin: 1rem 1rem 0.5rem;
}

.btnContainer button {
	font-size: 12px;
	border-style: none;
	padding: 0.5rem 0.8rem;
	background-color: #8f6c61;
	color: white;
	transition: ease-in-out 0.2s;
	cursor: pointer;
	height: 100%;
}

.btnContainer button:hover {
	box-shadow: 1px 5px 5px 0.1px rgba(0, 0, 0, 0.3);
}

.carouselContainer {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-self: center;
	text-align: center;
	margin: 1rem 1rem;
	border-radius: 4px;
	box-shadow: 1px 2px 7px 0.1px rgba(0, 0, 0, 0.2);
}

.carouselContainer p {
	font-size: 2rem;
	font-weight: bolder;
	color: #8f6c61;
	margin: 1rem auto;
}

.cmsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
	max-width: 1700px;
}

.voucherContainer {
	display: flex;
	flex-direction: column;
	border-radius: 4px;
	margin: 1rem 1rem 0.5rem;
	padding: 2rem 1rem;
	box-shadow: 1px 2px 7px 0.1px rgba(0, 0, 0, 0.2);
}
