.customModal {
	max-width: 20rem;
}

.forminput {
	display: flex;
	flex-direction: column;
	width: 25rem;
}

.forminput input {
	padding: 0.5rem 0.3rem;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.forminput input:focus {
	border: 2px solid #dba595;
	outline: none !important;
}

.forminput textarea {
	padding: 0.5rem 0.3rem;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.forminput textarea:focus {
	border: 2px solid #dba595;
	outline: none !important;
}

.phoneInput span {
	font-weight: bolder;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6rem;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}

.phoneInputfocus span {
	font-weight: bolder;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6rem;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}

.phoneInput input {
	border-style: none;
	width: 100%;
}

.phoneInput input:focus {
	border-style: none;
	outline: none !important;
}

.phoneInput {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.phoneInputfocus {
	display: flex;
	width: 100%;
	border: 2px solid #dba595;
	outline: none !important;
}

.phoneInputfocus input {
	border-style: none;
	outline: none !important;
	width: 100%;
}

.phoneInputfocus input:focus {
	border-style: none;
	outline: none !important;
}

.errMessage {
	color: red;
	opacity: 70%;
	font-style: italic;
	font-size: 12px;
	margin-top: 0.4rem;
	margin-left: 0.4rem;
}

.buyButton {
	font-size: 12px;
	border-style: none;
	padding: 0.5rem 0.8rem;
	background-color: #8f6c61;
	color: white;
	transition: ease-in-out 0.2s;
}
