.customModal {
	max-width: 20rem;
}

.forminput {
	display: flex;
	flex-direction: column;
	width: 25rem;
}

.forminput input {
	padding: 0.5rem 0.3rem;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.forminput input:focus {
	border: 2px solid #dba595;
	outline: none !important;
}

.forminput textarea {
	padding: 0.5rem 0.3rem;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.forminput textarea:focus {
	border: 2px solid #dba595;
	outline: none !important;
}

.phoneInput span {
	font-weight: bolder;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6rem;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}

.phoneInputfocus span {
	font-weight: bolder;
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0.6rem;
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
}

.phoneInput input {
	border-style: none;
	width: 100%;
}

.phoneInput input:focus {
	border-style: none;
	outline: none !important;
}

.phoneInput {
	display: flex;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.phoneInputfocus {
	display: flex;
	width: 100%;
	border: 2px solid #dba595;
	outline: none !important;
}

.phoneInputfocus input {
	border-style: none;
	outline: none !important;
	width: 100%;
}

.phoneInputfocus input:focus {
	border-style: none;
	outline: none !important;
}

.errMessage {
	color: red;
	opacity: 70%;
	font-style: italic;
	font-size: 12px;
	margin-top: 0.4rem;
	margin-left: 0.4rem;
}

.buyButton {
	font-size: 12px;
	border-style: none;
	padding: 0.5rem 0.8rem;
	background-color: #8f6c61;
	color: white;
}

.forminput input::-webkit-outer-spin-button,
.forminput input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
.forminput input[type='number'] {
	-moz-appearance: textfield;
}

.qtyContainer {
	margin-top: 0.6rem;
}

.qtyContainer span {
	margin: 0 1rem;
}

.qtyContainer button {
	font-size: 12px;
	border-style: none;
	padding: 0.3rem 0.8rem;
	background-color: #8f6c61;
	color: white;
}

.qtyInput {
	border: 2px solid #8f6c61;
}

.qtyItems {
	display: flex;
}

.errQty {
	font-style: italic;
	color: red;
	opacity: 60%;
	font-size: 14px;
}

.voucherDrop select {
	width: 25rem;
}

.btnModal {
	font-size: 12px;
	border-style: none;
	padding: 0.5rem 0.8rem;
	background-color: #8f6c61;
	color: white;
	transition: ease-in-out 0.2s;
	cursor: pointer;
	height: 100%;
	margin: 0 0.5rem;
}

.btnModal :hover {
	box-shadow: 1px 5px 5px 0.1px rgba(0, 0, 0, 0.3);
}

.batalDelBtn {
	font-size: 1.2rem;
	font-weight: bolder;
	color: #8f6c61;
	padding: 0.6rem 2rem;
	background-color: inherit;
	border: 2px solid #8f6c61;
	margin: 0 1rem;
}

.jadiDelBtn {
	font-size: 1.2rem;
	font-weight: bolder;
	color: white;
	padding: 0.6rem 2rem;
	background-color: #8f6c61;
	border: 2px solid #8f6c61;
	margin: 0 1rem;
}

.sendButton button {
	display: flex;
	justify-self: flex-end;
	margin: 1rem 1rem 1.2rem auto;
	padding: 0.6rem 1rem;
	background-color: #8f6c61;
	border: 2px solid #8f6c61;
	color: white;
	font-weight: bolder;
}
