.nav {
	width: 100%;
	border-style: none;
	box-shadow: 0 1px 10px 0.1px rgba(0, 0, 0, 0.2);
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: #fff;
}

.navItems {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.2rem;
}

.navItems a {
	cursor: pointer;
	font-weight: bolder;
	text-decoration: none;
	color: #8f6c61;
}

.navItems a:hover {
	text-decoration: none;
	color: #dba595;
}

.dropbtn {
	background-color: inherit;
	color: #8f6c61;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 8rem;
	max-width: 10rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	top: 1.5rem;
}

.dropdownContent button {
	color: #8f6c61;
	padding: 0.5rem 1rem;
	text-decoration: none;
	display: block;
	border: none;
	width: 100%;
}

.dropdownContent a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.dropdown:hover .dropbtn {
	color: #40302b;
}
